.flex{
  display: flex;
  &.wrap{
    flex-wrap: wrap;
  }
  &.direction{
    flex-direction: column;
  }
  &.between{
    justify-content: space-between;
  }
  &.align-center{
    align-items: center;
  }

  .flex-left{
    flex: 1;
    width: 0;
  }
}

.text-dot{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pos-r{
  position: relative;
}
.pos-a{
  position: absolute;
}

.text-center{
  text-align: center;
}

.pa-30{
  padding: 30px;
}
.px-30{
  padding: 0 30px;
}
.mr-30{
  margin-right: 30px;
}